.navbar {
	background-color: #39054ecc;
	height: 6rem;
	width: 100%;
	
}
.navbar .navbar-brand img{
	/* font-weight: 600; */
	/* color: #d8d8c8; */
	/* font-size: 1.5rem; */
	width: 3.2rem;
}

.navbar a h2:nth-child(2) {
	color: #dadce9;
	display: flex;
	font-weight: 650;
}


.navbar .navbar-toggler {
	/* margin-right: 5%; */
}

.navbar .nav-link {
	position: relative;
	text-align: center;
	border-bottom: 2px solid transparent;
	color: #f9fdfd;
	font-size: 1.2rem;
}

.navbar .nav-link:before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	border-bottom: 2px solid #fffffd;
	transform: scaleX(0);
	transition: transform 0.3s ease;
}

.navbar .nav-link:hover:before {
	transform: scaleX(1);
}
